<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    <head>
    {{ template "_internal/google_analytics_async.html" . }}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }} | {{ .Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
    <link rel="icon" sizes="160x160" href="/favicon/mannheim_logo_160x160.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/mannheim_logo_32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/mannheim_logo_16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    </head>
    <header style="overflow:scroll;">
    {{ partial "sidebar.html" . }}
    </header>
</html>